__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.env
.env.*
*.env
.mypy_cache
.pytest_cache
.hypothesis
uploads/*
!uploads/.gitkeep
tests/
*.md
alembic/versions/*.pyc
